<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    {{>links}}
     
</head>
<body>
    {{>header}}
    
    <!--Main Header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p style="font-family: 'Carter One'; font-size:30px">Welcome to Weather Stand &nbsp;&nbsp; 🙋‍♂️</p>
                        <h1 style="font-family: 'Fugaz One'; font-size:30px"><br>Get the Latest <span class="text_color">Weather</span> info in your city</h1>
                        <a href="/weather"><button span id='m1'>Check &nbsp; Now</button></a>
                    </div>
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="images/bg1.png" height="200px" width="200px" alt="First slide">
                              </div>
                                <div class="carousel-item">
                                <img src="images/bg2.png" height="200px" width="200px" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img src="images/bg3.png" height="200px" width="200px" alt="Third slide">
                              </div>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    {{>footer}}
</body>
</html>